/* site/resources/public/styles/global.css */
html, body {
  margin: 0;
  padding: 0;
  background: transparent; /* <- allow canvas to show */
  color: #fff;
  overflow-x: hidden;
}

.floating-icon {
  cursor: pointer;
  transition: all 0.4s ease;
}

.floating-icon:hover {
  transform: translateY(-20px) translateZ(180px);
  box-shadow: 0px 0px 40px rgba(0, 255, 255, 0.8);
}


